body{
  background-color: #ced9ff;
}

.bar{
  background-color: #EFEFEF;
  display: inline-block;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}
.sec_btn{
  position: relative;
  left: 50%;
  margin: 20px 20px;
}

.sec_btn:hover{
  border: 2px solid black;
}
i{
  padding: 5px;
}
i::before{
  padding-right: 5px;
}
.sec_body{
  background-color: #EFEFEF;
  margin: auto 80px;
  height: 1100px;
}
h1 {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
            color: #957dad;
            font-family: 'Montserrat', sans-serif;
        }

        section {
            padding: 5%;
            padding-top: 0;
            height: 100vh;
        }

        .side {
            margin-left: 0;
        }

        button {
            margin: 10px;
            border-color: #957dad !important;
            color: #888888 !important;
            margin-bottom: 25px;
        }

        button:hover {
            background-color: #D9D7F1!important;
        }

        textarea {
            padding: 3%;
            border-color: #957dad;
            border-width: thick;
        }

        .flex-box {
            display: flex;
            justify-content: center;
        }
        .title_sec{
          display: inline;
          margin-left: 30px;

        }
        .title_input{
          margin-left: 30px;
          border-top: None;
          border-left: None;
          border-right: None;
          background-color: inherit;
          width: 50%;
        }
        .label_sec{
          margin-left: 10%;
          display: inline-block;
        }
        select{
        width: 100%;
        }
