body{
  background-color: #ced9ff;
  width: auto;
}
nav{
  background-color: #ced9ff;
}
.nav-item{
  padding-left: 25px;
  font-size: 20px;
}
.main_sec{
  padding: 20px 40px;
  margin-top: 6%;
  display: inline-block;
}
.btn_val{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  display: inline-block;
  margin:auto 10px;
}
.blog_display{
  background-color: white;
  margin: 20px 40px;
  padding: 20px 40px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.intro{
  padding: 20px 40px;
    width: 100%;
    padding-top: 10%;
    margin-top: 2%;
}
.btn_dis{
  float: right;
  height: 10rem;
}
