body{
  background-color: #ced9ff;
  width: auto;
}
nav{
  background-color: #ced9ff
}
.nav-item{
  padding-left: 25px;
  font-size: 20px;
}
.intro{
  padding: 20px 40px;
  background-color: #ced9ff;
  width: 100%;
  height: 600px;
  padding-top: 10%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  position: absolute;
  display: inline-block;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.intro_img{
  float: right;
  position: relative;
  bottom:100px;
  padding-right: 5%;
  height: 30rem;
}
.start_btn{
  display: block;
  position: relative;
  top: 250px;
}
.sec_2{
  background-color: #CBF4C8;
  width: 100%;
  height: 600px;
  padding-top: 10%;
}
.sec_2_img{
  float: left;
  position: relative;
  bottom:30px;
  padding-right: 5%;
  padding-left: 5%;
  height: 25rem;
}
.sec_btn{
  position: relative;
  top: 100px;
}
.sec_3{
  padding: 20px 40px;
  background-color: #F4DCDC;
  width: 100%;
  height: 600px;
  padding-top: 10%;
}
.sec_4{
  background-color: #F8E6BC;
  width: 100%;
  height: 600px;
  padding-top: 10%;
}
.outro{
  padding: 20px 40px;
  width: 100%;
  height: 600px;
  padding-top: 10%;
}
.out_btn{
  margin: 20px;
  display: block;
  width: 40%;
}
i{
  padding-right: 10px;
}
.icons{
 position: relative;
 left: 62%;
 bottom: 60%;
 padding: 20px 30px;
}
